@charset "UTF-8";
@font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: 'GmarketSansMedium';
        box-sizing: content-box;
    }

    li {
        list-style: none;

    }

    a {
        text-decoration: none;
        color: black;
    }
    a:hover{
    	font-weight: bold;
    	color: purple;
    	}
    

    button {
        border: 0;
        outline: 0;
        background-color: transparent;
    }




    .header {
        display: grid;
        grid-template-columns: 180px auto auto;
    }

    .h-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-self: start;
        align-self: center;
        column-gap: 10px;
    }

    .h-menu>span>a:hover {
        color: purple;
        font-weight: bold;
    }

    .h-login {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-self: start end;
        align-self: center;
        column-gap: 10px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        place-self: start;
        align-self: center;

    }
    .main {
        display: grid;
        padding: 100px 50px;

    }

    .r-member {
        display: grid;
        grid-template-columns: 0.2fr 0.5fr 2fr 1fr;
        margin: 20px;
        padding: 15px 10px 10px 10px;
        background-color: #f0f0f0;
    }

    .name {
        vertical-align: middle;
        font-size: 23px;
    }

    .state {
        display: grid;
        place-self: start center;
        text-align: center;
        font-size: 18px;
    }

    .button {
        display: grid;
        place-self: start end;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }