@charset "UTF-8";
@font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    * {
        font-family: 'GmarketSansMedium';
        box-sizing: content-box;
    }

    li {
        list-style: none;

    }

    a {
        text-decoration: none;
        color: black;
    }
    a:hover{
    	font-weight: bold;
    	color: purple;
    	}

    button {
        border: 0;
        outline: 0;
        background-color: transparent;
    }




    .header {
        display: grid;
        grid-template-columns: 180px auto auto;
    }

    .h-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-self: start;
        align-self: center;
        column-gap: 10px;
    }

    .h-menu>span>a:hover {
        color: purple;
        font-weight: bold;
    }

    .h-login {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-self: start end;
        align-self: center;
        column-gap: 10px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        place-self: start;
        align-self: center;

    }

    .main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 100px 25px;
        gap: 10px;
    }



    .m-left {
        display: grid;
        place-self: start;
    }

    .profile {
        display: grid;
        place-self: start center;
    }

    .profile-des {
        display: grid;
        place-self: start center;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .m-right {
        display: grid;
        background-color: #f0f0f0;
        padding: 30px;
        vertical-align: middle;

    }

    .s-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .s-top>p {
        display: grid;
        place-self: start;

    }

    .s-top>a {
        display: grid;
        place-self: start end;
    }

    .s-top>button {
        display: grid;
        place-self: start end;
    }

    .modal-body {
        text-align: center;
    }

    .r-search {
        padding-bottom: 20px;
        vertical-align: middle;
    }

    .r-search>input {
        border: none;
        font-size: 20px;
        background-color: lightgray;
        height: 57px;
        margin-left: -7px;
        width: 70%;
    }


    .r-member {
        display: grid;
        grid-template-columns: 0.2fr 0.8fr 2fr 1fr;
        margin: 13px;
        vertical-align: middle;
    }

    .r-member>a {
        display: grid;
        place-self: start end;
    }

    .r-member>a:hover {
        color: purple;
        font-weight: bold;
    }

    .photo {
        display: grid;
        place-self: start;
    }

    .name {
        display: grid;
        place-self: start;
        font-size: 18px;
        vertical-align: middle;
    }

    .state {
        display: grid;
        place-self: start center;
        vertical-align: middle;
    }